{%- comment -%} VERSION: 1.0.0 Please do not delete this line. {%- endcomment -%}
{%- liquid
  assign filter_tree_vertical_style = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'filterTreeVerticalStyle":"' | last | split: '","' | first | strip | escape
  
  if shop.metafields.bc-sf-filter.settings contains 'filterTreeHorizontalStyle'
  	assign filter_tree_horizontal_style = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'filterTreeHorizontalStyle":"' | last | split: '","' | first | strip | escape
  else
   assign filter_tree_horizontal_style = 'style1'
  endif

  if shop.metafields.bc-sf-filter.settings contains 'stickyFilterOnDesktop'
  	assign enable_filter_sticky_d = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnDesktop":' | last | split: ',' | first | strip | escape
  else
   assign enable_filter_sticky_d = false
  endif
  
  assign enable_filter_sticky_m = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnMobile":' | last | split: ',' | first |  split: '}}' | first | strip | escape

  assign switch_layout_filter = 'switch_layout_filter_vertical'

  assign verticalStyleOffCanvas = false
  if switch_layout_filter == 'switch_layout_filter_vertical' and filter_tree_vertical_style == 'style-off-canvas'
  assign verticalStyleOffCanvas = true
  endif

  assign verticalStyleExpand = false
  if switch_layout_filter == 'switch_layout_filter_vertical' and filter_tree_vertical_style == 'style-expand'
    assign verticalStyleExpand = true
  endif

  assign horizontalStyleExpand = false
  if switch_layout_filter == 'switch_layout_filter_horizontal' and filter_tree_horizontal_style == 'style-expand'
    assign horizontalStyleExpand = true
  endif

  assign enable_filter_tree_button_desktop = false
  if verticalStyleOffCanvas == true or verticalStyleExpand == true or horizontalStyleExpand == true
    assign enable_filter_tree_button_desktop = true
  endif
  
  assign boost_translations = shop.metafields.boostpfs-settings.labelTranslations
	assign current_locale = request.locale.iso_code
	assign primary_locale = current_locale
	for locale in shop.published_locales
		if locale.primary
			assign primary_locale = locale.iso_code
			break
		endif
	endfor
	assign label_toolbar_viewas = boost_translations[current_locale].defaultTheme.toolbarViewAs | default:  boost_translations[primary_locale].defaultTheme.toolbarViewAs | escape
	assign label_items_with_count_one = boost_translations[current_locale].defaultTheme.toolbarProduct | default:  boost_translations[primary_locale].defaultTheme.toolbarProduct | escape
	assign label_items_with_count_other = boost_translations[current_locale].defaultTheme.toolbarProducts | default:  boost_translations[primary_locale].defaultTheme.toolbarProducts | escape
	assign label_sale = boost_translations[current_locale].defaultTheme.productItemSale | default:  boost_translations[primary_locale].defaultTheme.productItemSale | escape
	assign label_soldout = boost_translations[current_locale].defaultTheme.productItemSoldOut | default:  boost_translations[primary_locale].defaultTheme.productItemSoldOut | escape
	assign label_from = boost_translations[current_locale].defaultTheme.productItemFrom | default:  boost_translations[primary_locale].defaultTheme.productItemFrom | escape
  assign label_sale_percent = 'percent' | escape

	assign layout_type = shop.metafields.pfs-default-theme.layout_type | default: 'box'
  assign show_collection_image = shop.metafields.pfs-default-theme.show_collection_image
  assign show_collection_des = shop.metafields.pfs-default-theme.show_collection_des
  assign collection_header_bg = shop.metafields.pfs-default-theme.collection_header_bg | default: ''
  assign collection_header_text = shop.metafields.pfs-default-theme.collection_header_text | default: ''
	
	assign show_view_as = shop.metafields.pfs-default-theme.show_view_as
	assign show_product_count = shop.metafields.pfs-default-theme.show_product_count
	assign show_sort_by = shop.metafields.pfs-default-theme.show_sort_by
	assign show_view_as_m = shop.metafields.pfs-default-theme.show_view_as_m
	assign show_product_count_m = shop.metafields.pfs-default-theme.show_product_count_m
	assign show_sort_by_m = shop.metafields.pfs-default-theme.show_sort_by_m
	assign view_as_type = shop.metafields.pfs-default-theme.view_as_type | default: 'view_as_type_list_grid_multi_col'

  assign product_item_type = shop.metafields.pfs-default-theme.product_item_type | default: 'grid'
  assign product_item_layout = shop.metafields.pfs-default-theme.product_item_layout | default: 'no-border'
  assign text_alignment = shop.metafields.pfs-default-theme.text_alignment | default: 'left'
	assign show_vendor = shop.metafields.pfs-default-theme.show_vendor
	assign show_price = shop.metafields.pfs-default-theme.show_price
  assign show_product_review = shop.metafields.pfs-default-theme.show_product_review | default: false
  assign show_detail_when_hover = shop.metafields.pfs-default-theme.show_detail_when_hover | default: false
  assign active_image_swap = shop.metafields.pfs-default-theme.active_image_swap

  assign aspect_ratio = shop.metafields.pfs-default-theme.aspect_ratio | default: 'auto'
	assign aspect_ratio_other = shop.metafields.pfs-default-theme.aspect_ratio_other | default: ''
	assign product_img_crop = shop.metafields.pfs-default-theme.product_img_crop | default: 'none'
  
  assign products_per_page = shop.metafields.pfs-default-theme.products_per_page | default: 15
  assign products_per_row = shop.metafields.pfs-default-theme.products_per_row | default: 3
	assign products_per_row_m = shop.metafields.pfs-default-theme.products_per_row_m | default: 2

  assign product_title_color = shop.metafields.pfs-default-theme.product_title_color
  assign product_title_font = shop.metafields.pfs-default-theme.product_title_font
  assign product_title_size = shop.metafields.pfs-default-theme.product_title_size
  assign product_title_transform = shop.metafields.pfs-default-theme.product_title_transform

  assign product_vendor_color = shop.metafields.pfs-default-theme.product_vendor_color
  assign product_vendor_font = shop.metafields.pfs-default-theme.product_vendor_font
  assign product_vendor_size = shop.metafields.pfs-default-theme.product_vendor_size
  assign product_vendor_transform = shop.metafields.pfs-default-theme.product_vendor_transform

  assign product_price_color = shop.metafields.pfs-default-theme.product_price_color
  assign product_old_price_color = shop.metafields.pfs-default-theme.product_old_price_color
  assign product_sale_price_color = shop.metafields.pfs-default-theme.product_sale_price_color
  assign product_price_font = shop.metafields.pfs-default-theme.product_price_font
  assign product_price_size = shop.metafields.pfs-default-theme.product_price_size

  assign product_des_color = shop.metafields.pfs-default-theme.product_des_color
  assign product_des_font = shop.metafields.pfs-default-theme.product_des_font
  assign product_des_size = shop.metafields.pfs-default-theme.product_des_size

  assign swatch_enable = shop.metafields.pfs-default-theme.swatch_enable
  assign show_swatch_tooltip = shop.metafields.pfs-default-theme.show_swatch_tooltip
  assign swatch_change_img = shop.metafields.pfs-default-theme.swatch_change_img | default: 'hover'
  assign swatch_by_color_apply = shop.metafields.pfs-default-theme.swatch_by_color_apply
  assign swatch_by_color_apply_name = shop.metafields.pfs-default-theme.swatch_by_color_apply_name
  assign swatch_by_color_shape = shop.metafields.pfs-default-theme.swatch_by_color_shape | default: 'circle'
  assign swatch_by_img_apply = shop.metafields.pfs-default-theme.swatch_by_img_apply
  assign swatch_by_img_apply_name = shop.metafields.pfs-default-theme.swatch_by_img_apply_name
  assign swatch_by_img_shape = shop.metafields.pfs-default-theme.swatch_by_img_shape | default: 'circle'
  assign swatch_by_pro_img_apply = shop.metafields.pfs-default-theme.swatch_by_pro_img_apply
  assign swatch_by_pro_img_apply_name = shop.metafields.pfs-default-theme.swatch_by_pro_img_apply_name
  assign swatch_by_pro_img_shape = shop.metafields.pfs-default-theme.swatch_by_pro_img_shape | default: 'circle'
  assign swatch_by_text_apply = shop.metafields.pfs-default-theme.swatch_by_text_apply
  assign swatch_by_text_apply_name = shop.metafields.pfs-default-theme.swatch_by_text_apply_name
  assign swatch_by_text_shape = shop.metafields.pfs-default-theme.swatch_by_text_shape | default: 'square'
  assign swatch_by_text_bg = shop.metafields.pfs-default-theme.swatch_by_text_bg
  assign swatch_by_text_color = shop.metafields.pfs-default-theme.swatch_by_text_color
  assign swatch_by_text_border = shop.metafields.pfs-default-theme.swatch_by_text_border

  assign label_position = shop.metafields.pfs-default-theme.label_position | default: 'top_left'
  assign label_type = shop.metafields.pfs-default-theme.label_type | default: 'rectangle'
  assign sale_label_enable = shop.metafields.pfs-default-theme.sale_label_enable
  assign sale_label_display = shop.metafields.pfs-default-theme.sale_label_display | default: 'text'
  assign sale_label_bg = shop.metafields.pfs-default-theme.sale_label_bg
  assign sale_label_text = shop.metafields.pfs-default-theme.sale_label_text
  assign sale_label_img = shop.metafields.pfs-default-theme.sale_label_img

	assign sold_out_enable = shop.metafields.pfs-default-theme.sold_out_enable
  assign sold_out_display = shop.metafields.pfs-default-theme.sold_out_display | default: 'text'
  assign sold_out_bg = shop.metafields.pfs-default-theme.sold_out_bg
  assign sold_out_text = shop.metafields.pfs-default-theme.sold_out_text
  assign sold_out_img = shop.metafields.pfs-default-theme.sold_out_img
	
  assign tag_label_enable = shop.metafields.pfs-default-theme.tag_label_enable | default: false
  assign tag_label_bg = shop.metafields.pfs-default-theme.tag_label_bg
  assign tag_label_text = shop.metafields.pfs-default-theme.tag_label_text
-%}

{% capture products_item_settings %}
	{% if aspect_ratio == 'auto' %}boost-pfs-filter-product-item-equal-height-auto {% endif %} boost-pfs-filter-product-item-label-type-{{ label_type }} boost-pfs-filter-product-item-show-details-{{ show_detail_when_hover }} boost-pfs-filter-product-item-layout-{{ product_item_layout }} boost-pfs-filter-product-item-label-{{ label_position }}  boost-pfs-filter-product-item-text-alignment-{{ text_alignment }}  
{% endcapture %}

{% paginate search.results by products_per_page %}

<style>
  {% if collection_header_text != blank %}
  .boost-pfs-filter-collection-header-wrapper .boost-pfs-filter-collection-description,
  .boost-pfs-filter-collection-header-wrapper .boost-pfs-filter-collection-description p,
  .boost-pfs-filter-collection-header-wrapper .boost-pfs-filter-collection-header, 
  .boost-pfs-search-container .boost-pfs-search-result-header {
    color: {{ collection_header_text }};
  }
  {% endif %}

  {% if collection_header_bg != blank %}
  .boost-pfs-filter-collection-header-wrapper {
    background-color: {{ collection_header_bg }};
  }
  {% endif %}

  {% if product_title_color != blank or product_title_font != blank or product_title_size != blank or product_title_transform != blank  %}
    .boost-pfs-filter-product-item-title {
      {% if product_title_color != blank %}
          color: {{ product_title_color }};
      {% endif %}

      {% if product_title_font != blank %}
      font-family: {{ product_title_font.family }};
      font-weight: {{ product_title_font.weight }};
      font-style: {{ product_title_font.style }};
      {% endif %}

      {% if product_title_transform != blank %}
      text-transform: {{ product_title_transform }};
      {% endif %}
    }
    {% if product_title_size != blank %}
      @media (min-width: 768px){
        .boost-pfs-filter-product-item-title {
          font-size: {{ product_title_size }}px;
        }
      }
    {% endif %}
  {% endif %}

  {% if product_vendor_color != blank or product_vendor_size != blank or product_vendor_font != blank or product_vendor_transform != blank  %}
    .boost-pfs-filter-product-item-vendor {
      {% if product_vendor_color != blank %}
      color: {{ product_vendor_color }};
      {% endif %}

      {% if product_vendor_font != blank %}
      font-family: {{ product_vendor_font.family }};
      font-weight: {{ product_vendor_font.weight }};
      font-style: {{ product_vendor_font.style }};
      {% endif %}

      {% if product_vendor_transform != blank %}
      text-transform: {{ product_vendor_transform }};
      {% endif %}
    }
    {% if product_vendor_size != blank %}
      @media (min-width: 768px){
        .boost-pfs-filter-product-item-vendor {
          font-size: {{ product_vendor_size }}px;
        }
      }
    {% endif %}
  {% endif %}
  {% if product_price_color != blank or product_price_size != blank or product_price_font != blank or product_price_size != blank   %}
    .boost-pfs-filter-product-item-price {
      {% if product_price_color != blank %}
      color: {{ product_price_color }};
      {% endif %}

      {% if product_price_font != blank %}
      font-family: {{ product_price_font.family }};
      font-weight: {{ product_price_font.weight }};
      font-style: {{ product_price_font.style }};
      {% endif %}
    }
    {% if product_price_size != blank %}
      @media (min-width: 768px){
        .boost-pfs-filter-product-item-price {
          font-size: {{ product_price_size }}px;
        }
      }
    {% endif %}
  {% endif %}

  {% if product_old_price_color != blank %}
  .boost-pfs-filter-product-item-price s {
    color: {{ product_old_price_color }};
  }
  {% endif %}

  {% if product_sale_price_color != blank %}
  .boost-pfs-filter-product-item-price .boost-pfs-filter-product-item-sale-price {
    color: {{ product_sale_price_color }};
  }
  {% endif %}

  {% if product_des_color != blank or product_des_size != blank or product_des_font != blank %}
    .boost-pfs-filter-product-item-list .boost-pfs-filter-des {
      {% if product_des_color != blank %}
      color: {{ product_des_color }};
      {% endif %}

      {% if product_des_font != blank %}
      {% assign product_des_font = product_des_font %}
      font-family: "{{ product_des_font.family }}";
      font-weight: {{ product_des_font.weight }};
      font-style: {{ product_des_font.style }};
      {% endif %}
    }
    {% if product_des_size != blank %}
      @media (min-width: 768px){
        .boost-pfs-filter-product-item-list .boost-pfs-filter-des {
          font-size: {{ product_des_size }}px;
        }
      }
    {% endif %}
  {% endif %}

  {% if sale_label_bg != blank or sale_label_text != blank %}
  .boost-pfs-filter-product-item-label .sale {
    {% if sale_label_bg != blank %}
    background-color: {{ sale_label_bg }};
    {% endif %}

    {% if sale_label_text != blank %}
    color: {{ sale_label_text }};
    {% endif %}
  }
  {% endif %}

  {% if sold_out_bg != blank or sold_out_text != blank %}
  .boost-pfs-filter-product-item-label .soldout {
    {% if sold_out_bg != blank %}
    background-color: {{ sold_out_bg }};
    {% endif %}

    {% if sold_out_text != blank %}
    color: {{ sold_out_text }};
    {% endif %}
  }
  {% endif %}

  {% if tag_label_bg != blank or tag_label_text != blank %}
  .boost-pfs-filter-product-item-label .tag {
    {% if tag_label_bg != blank %}
    background-color: {{ tag_label_bg }};
    {% endif %}

    {% if tag_label_text != blank %}
    color: {{ tag_label_text }};
    {% endif %}
  }
  {% endif %}

  {% if swatch_by_text_bg != blank or swatch_by_text_color != blank or swatch_by_text_border != blank %}
  .boost-pfs-filter-item-swatch-type-text>li:not(.boost-pfs-filter-item-swatch-more) {
    {% if swatch_by_text_bg != blank %}
    background-color: {{ swatch_by_text_bg }};
    {% endif %}

    {% if swatch_by_text_color != blank %}
    color: {{ swatch_by_text_color }};
    {% endif %}

    {% if swatch_by_text_border != blank %}
    border-color: {{ swatch_by_text_border }};
    {% endif %}
  }
  {% endif %}
  
</style>

<div class="boost-pfs-filter-collection-header-wrapper boost-pfs-search-form-wrapper">
	<div class="boost-pfs-search-container boost-pfs-container-default-{{ layout_type }}">
		<h1 class="boost-pfs-search-result-header"></h1>
		<form class="boost-pfs-search-form" action="{{ routes.search_url }}" method="get" role="search">
			<input class="boost-pfs-search-input" type="search" name="q" value="{{ search.terms | escape }}">
			<button type="submit" class="boost-pfs-search-btn" aria-label="Submit"></button>
		</form>
	</div>
</div>

{% comment %} SEARCH RESULT TOOLBAR {% endcomment %}
<div class="boost-pfs-search-result-toolbar">
	<div class="boost-pfs-container-default-{{ layout_type }} boost-pfs-filter-default-toolbar-inner">
		<div class="boost-pfs-search-result-item">
			<ul class="boost-pfs-search-result-panel-controls">
				<li>{% render 'boost-pfs-filter-skeleton', width: 2 %}</li>
				<li>{% render 'boost-pfs-filter-skeleton', width: 2 %}</li>
				<li>{% render 'boost-pfs-filter-skeleton', width: 1 %}</li>
			</ul>
		</div>
		<div class="boost-pfs-search-result-item">
			<span class="filters-toolbar__product-count boost-pfs-search-total-result">
				{% render 'boost-pfs-filter-skeleton', width: 2 %}
			</span>
		</div>
	</div>
</div>
{% comment %} END SEARCH RESULT TOOLBAR {% endcomment %}

{%- comment -%} TOOLBAR TOP MOBILE {%- endcomment -%}
<div class="boost-pfs-filter-toolbar-top-mobile boost-pfs-search-panel-product-show {% if hide_toolbar_sort_by_mobile %} boost-pfs-filter-toolbar-top-mobile-hide-sort-by {% endif %} {% if enable_filter_sticky_m %}boost-pfs-filter-tree-mobile-button-stick-wrapper {% endif %}">
  <div class="boost-pfs-filter-toolbar-top-mobile-inner {% if show_sort_by_m %} boost-pfs-filter-toolbar-show-sort-by-mobile {% endif %}">
    {%- if show_sort_by_m -%}
    	<div class="boost-pfs-filter-top-sorting boost-pfs-filter-top-sorting-mobile boost-pfs-filter-custom-sorting">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
    {% endif %}
    <div class="boost-pfs-filter-tree-mobile-button" data-filter-tree-id="boost-pfs-filter-tree">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
  </div>
</div>
{%- comment -%} END TOOLBAR TOP MOBILE {%- endcomment -%}

<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile id="boost-pfs-filter-tree"></div>

{%- comment -%} TOOLBAR {%- endcomment -%}
<div class="boost-pfs-filter-default-toolbar boost-pfs-search-panel-product-show {% if enable_filter_tree_button_desktop and enable_filter_sticky_d  %} boost-pfs-filter-tree-desktop-button-sticky-wrapper {% endif %} {% if show_view_as_m == false %} boost-pfs-filter-toolbar-top-mobile-hide-view-as {% endif %} {% if show_product_count_m == false %} boost-pfs-filter-toolbar-top-mobile-hide-product-count {% endif %}">
  {% if show_view_as == true or show_product_count == true or show_sort_by == true or show_view_as_m == true or show_product_count_m == true %}
    <div class="boost-pfs-container-default-{{ layout_type }} boost-pfs-filter-default-toolbar-inner">
      {% if show_view_as == true or show_view_as_m == true or enable_filter_tree_button_desktop == true %}
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-type boost-pfs-filter-{{ view_as_type }} {% if show_view_as == true or enable_filter_tree_button_desktop == true  %} boost-pfs-filter-display-type-d{% endif %} {% if show_view_as_m == true or enable_filter_tree_button_desktop == true  %} boost-pfs-filter-display-type-m{% endif %}">
          {% if enable_filter_tree_button_desktop %}
            <div class="boost-pfs-filter-tree-desktop-button">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
          {% endif %}
          {%- if show_view_as == true or show_view_as_m == true -%}
            <div class="boost-pfs-filter-top-display-type {% if show_view_as == true %} boost-pfs-filter-top-display-type-d{% endif %} {% if show_view_as_m == true %} boost-pfs-filter-top-display-type-m{% endif %}">{%- render 'boost-pfs-filter-skeleton', width: 2 -%}</div>
          {%- endif -%}
        </div>
      {%- endif -%}
      
      {%- if show_product_count == true or show_product_count_m == true -%}
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count {% if show_product_count %} boost-pfs-filter-toolbar-count-d {% endif %} {% if show_product_count_m %} boost-pfs-filter-toolbar-count-m {% endif %}">
          <span class="boost-pfs-filter-total-product">{%- render 'boost-pfs-filter-skeleton', width: 1 -%}</span>
        </div>
      {%- endif -%}
      
      {%- if show_sort_by -%}
        <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting">{%- render 'boost-pfs-filter-skeleton', width: 1 -%}</div>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>
{%- comment -%} END TOOLBAR {%- endcomment -%}

<div class="boost-pfs-filter-wrapper boost-pfs-search-panel-product-show {% if enable_filter_sticky_d %} boost-pfs-filter-tree-h-sticky-filter {% endif %}">
	{%- if switch_layout_filter == 'switch_layout_filter_horizontal' -%}
	<div class="boost-pfs-filter-tree-h-wrapper">
		<div class="boost-pfs-container-default-{{ layout_type }}">
			<div class="boost-pfs-filter-tree boost-pfs-filter-tree-h" data-is-desktop id="boost-pfs-filter-tree3">
				{%- unless enable_filter_tree_button_desktop -%}
          {% render 'boost-pfs-filter-skeleton', type: 'filter-tree-h' %}
        {%- endunless -%}
			</div>
		</div>
	</div>
	<div class="boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-filter-refine-by-wrapper-h"></div>
	</div>
	{%- endif -%}

	<div class="boost-pfs-container-default-{{ layout_type }}">
			{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
			<div class="boost-pfs-filter-left-col">
				<div class="boost-pfs-filter-left-col-inner">
					<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-desktop id="boost-pfs-filter-tree2">
            {%- unless enable_filter_tree_button_desktop -%}
              {% render 'boost-pfs-filter-skeleton', type: 'filter-tree' %}
            {%- endunless -%}
          </div>
				</div>
			</div>
			{%- endif -%}

			{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
			<div class="boost-pfs-filter-right-col">
			{%- endif -%}

			<div class="boost-pfs-filter-products {{ products_item_settings }}" data-bc-sort="{{ collection.default_sort_by }}">
				{%- for result in search.results -%}
				  {%- if result.object_type == 'product' -%}
            {%- render 'boost-pfs-filter-product-item',
              product: result,
              products_per_row: products_per_row,
              products_per_row_m: products_per_row_m,
              show_detail_when_hover: show_detail_when_hover,
              show_vendor: show_vendor,
              show_price: show_price,
              
              active_image_swap: active_image_swap,
              show_product_review: show_product_review,
              swatch_enable: swatch_enable,
              show_swatch_tooltip: show_swatch_tooltip
              swatch_change_img: swatch_change_img,
              swatch_by_color_apply: swatch_by_color_apply,
              swatch_by_color_apply_name: swatch_by_color_apply_name,
              swatch_by_color_shape: swatch_by_color_shape,
              swatch_by_img_apply: swatch_by_img_apply,
              swatch_by_img_apply_name: swatch_by_img_apply_name,
              swatch_by_img_shape: swatch_by_img_shape,
              swatch_by_pro_img_apply: swatch_by_pro_img_apply,
              swatch_by_pro_img_apply_name: swatch_by_pro_img_apply_name,
              swatch_by_pro_img_shape: swatch_by_pro_img_shape,
              swatch_by_text_apply: swatch_by_text_apply,
              swatch_by_text_apply_name: swatch_by_text_apply_name,
              swatch_by_text_shape: swatch_by_text_shape,
              aspect_ratio: aspect_ratio,
              aspect_ratio_other: aspect_ratio_other,
              product_img_crop: product_img_crop,
              tag_label_enable: tag_label_enable,

              label_type: label_type,
              sale_label_enable: sale_label_enable,
              sale_label_display: sale_label_display,
              sale_label_img: sale_label_img,
              
              sold_out_enable: sold_out_enable,
              sold_out_display: sold_out_display,
              sold_out_img: sold_out_img,

              product_item_type: product_item_type,
              label_soldout: label_soldout,
              label_sale: label_sale,
              label_from: label_from,
              label_toolbar_viewas: label_toolbar_viewas,
              label_items_with_count_one: label_items_with_count_one,
              label_items_with_count_other: label_items_with_count_other,
              label_sale_percent: label_sale_percent
            -%}
          {%- endif -%}
				{%- endfor -%}
			</div>
			<div class="boost-pfs-filter-bottom-pagination boost-pfs-filter-bottom-pagination-default">
				{%- if paginate.pages > 1 -%}
				{%- render 'boost-pfs-filter-pagination' -%}
				{%- endif -%}
			</div>
			<div class="boost-pfs-filter-load-more"></div>

		{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
		</div>
		{%- endif -%}

	</div>
</div>

{% comment %} SEARCH RESULT: COLLECTION PANEL {% endcomment %}
<div class="boost-pfs-search-result-wrap boost-hidden">
	<div class="boost-pfs-search-result-collections boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
	</div>
	<div class="boost-pfs-search-result-collection-pagination boost-pfs-filter-bottom-pagination-default">{% render 'boost-pfs-filter-skeleton', width: 4 %}</div>
</div>
{% comment %} END SEARCH RESULT: COLLECTIONS PANEL {% endcomment %}
{% comment %} SEARCH RESULT: PAGES PANEL {% endcomment %}
<div class="boost-pfs-search-result-wrap boost-hidden">
	<div class="boost-pfs-search-result-pages boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 3 %}</a></div>
		<div class="boost-pfs-search-result-list-item"><a href="#">{% render 'boost-pfs-filter-skeleton', width: 4 %}</a></div>
	</div>
	<div class="boost-pfs-search-result-page-pagination boost-pfs-filter-bottom-pagination-default">{% render 'boost-pfs-filter-skeleton', width: 4 %}</div>
</div>
{% comment %} END SEARCH RESULT: PAGES PANEL {% endcomment %}

{% endpaginate %}

{%- render 'boost-pfs-theme-config',
	layout_type: layout_type,
	enable_filter_sticky_d: enable_filter_sticky_d,
	view_as_type: view_as_type,
	products_per_page: products_per_page,
	products_per_row: products_per_row,
	products_per_row_m: products_per_row_m,
	show_detail_when_hover: show_detail_when_hover,
	show_vendor: show_vendor,
	show_price: show_price,
	active_image_swap: active_image_swap,
	show_product_review: show_product_review,
  
	swatch_enable: swatch_enable,
  show_swatch_tooltip: show_swatch_tooltip,
	swatch_change_img: swatch_change_img,
  swatch_by_color_apply: swatch_by_color_apply,
  swatch_by_color_shape: swatch_by_color_shape,
  swatch_by_img_apply: swatch_by_img_apply,
  swatch_by_img_shape: swatch_by_img_shape,
  swatch_by_pro_img_apply: swatch_by_pro_img_apply,
  swatch_by_pro_img_shape: swatch_by_pro_img_shape,
  swatch_by_text_apply: swatch_by_text_apply,
  swatch_by_text_shape: swatch_by_text_shape,

	aspect_ratio: aspect_ratio,
	aspect_ratio_other: aspect_ratio_other,
	product_img_crop: product_img_crop,
	tag_label_enable: tag_label_enable,

  label_type: label_type,
	sale_label_enable: sale_label_enable,
  sale_label_display: sale_label_display,
  sale_label_img: sale_label_img,

  sold_out_enable: sold_out_enable,
  sold_out_display: sold_out_display,
	sold_out_img: sold_out_img,

	product_item_type: product_item_type,

	label_soldout: label_soldout,
	label_sale: label_sale,
	label_from: label_from,
	label_toolbar_viewas: label_toolbar_viewas,
	label_items_with_count_one: label_items_with_count_one,
	label_items_with_count_other: label_items_with_count_other,
  label_sale_percent: label_sale_percent,
  filter_tree_horizontal_style: filter_tree_horizontal_style
-%}
