{% if product.available %}
    <script>
        //***** BULK OF OLD PRODUCT SCRIPT!!!!
        ///main product script OLD!!
        $("#qty-box select").selectbox();
        {% assign look_for_image_match = false %}
        {% assign option_index = 0 %}
        {% for option in product.options %}
        {% assign downcased_option = option | downcase %}
        {% if downcased_option contains 'color' %}
        {% assign look_for_image_match = true %}
        {% assign option_index = forloop.index0 %}
        {% endif %}
        {% endfor %}
        Shopify.doNotTriggerClickOnThumb = false;
        var selectCallback = function (variant, selector) {
console.log("varliant", variant, selector)
            if (variant && variant.available) {
                // selected a valid variant
                $('#add-to-cart').removeClass('disabled');
                $('#add-to-cart-msg').hide();// remove unavailable class from add-to-cart button, and re-enable button
                if (variant.compare_at_price == null) {
                    $('#product-header-title .price').html(Shopify.formatMoney(variant.price, "{{ shop.money_with_currency_format }}"));
                } else {
                    $('#product-header-title .price').html('<span class="compare_at_price">' + Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_with_currency_format }}") + '</span>' + Shopify.formatMoney(variant.price, "{{ shop.money_with_currency_format }}"));
                }
            } else {
                // variant doesn't exist
                $('#add-to-cart-msg').hide();
                $('#add-to-cart').addClass('disabled'); // set add-to-cart button to unavailable class and disable button
                var message = variant ? "Sold Out" : "Unavailable";
                $('#product-header-title .price').text(message); // update price-field message
            }

            if (variant.available && variant.inventory_management == 'shopify' && variant.inventory_quantity <= '20') {
                $('#add-to-cart-msg').hide();
                $('#number-available').text(variant.inventory_quantity + ' available').fadeIn();
            } else if (variant.inventory_management == 'shopify' && variant.inventory_quantity == 0) {
                $('#add-to-cart-msg').hide();
                $('#number-available').text('sold out').fadeIn();
            } else {
                $('#add-to-cart-msg').hide();
                $('#number-available').hide();
            }

            {% if look_for_image_match %}
            if (variant && !Shopify.doNotTriggerClickOnThumb) {
                $('#thumbs a[title="' + variant.options[{{ option_index }}] + '"]').trigger('click');
            }
            {% endif %}
            Shopify.doNotTriggerClickOnThumb = false;
        };
        // initialize multi selector for product
        $(function () {

            new Shopify.OptionSelectors("product-select", {
                product: {{ product | json }},
                onVariantSelected: selectCallback
            });
            {% if product.options.size >= 1 and product.options.first != 'Title' %}
            $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
            {% endif %}

            {% assign found_one_in_stock = false %}
            {% for variant in product.variants %}
            {% if variant.available and found_one_in_stock == false %}
            {% assign found_one_in_stock = true %}
            {% for option in product.options %}
            $('.single-option-selector:eq(' + {{ forloop.index0 }} +')').val({{ variant.options[forloop.index0] | json }}).trigger('change').selectbox("attach");
            {% endfor %}
            {% endif %}
            {% endfor %}


            {% if look_for_image_match %}
            $('#thumbs li a').bind('click', function () {
                var color = jQuery(this).attr('title');
                if (color && color !== '') {
                    var options = $('.single-option-selector:eq({{ option_index }}) option[value="' + color + '"]');
                    if (options.size() !== 0) {
                        Shopify.doNotTriggerClickOnThumb = true;
                        $('.single-option-selector:eq({{ option_index }})').val(color).trigger('change').selectbox("detach").selectbox("attach");
                    }
                }
            });
            {% endif %}


        });
    </script>
{% endif %}
