<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{% render 's-section-padding', _section: section %}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
    <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
        <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
            <div class="rich-text__blocks {{ section.settings.content_alignment }}">
                {% render 's-block-product-testimonial', _settings: section.settings %}
            </div>
        </div>
    </div>
</div>
{% schema 'schema.ts' %}
