{% assign umbrella_id = 'umbrella' %}
{% assign umbrella_child_css = 'text-primary text-lg italic tracking-wide ml-2 hover:text-accent-secondary' %}

<div class="{{ umbrella_id }} flex ">
    {% render 's-header-search' %}
    {% render 's-ui-social-icons', social_classes: "ml-2 first:ml-0 radius-circle p-1 text-2xl text-white bg-primary-lt hover:bg-accent-secondary" %}

    <ul class="umbrellaS2 flex <md:justify-end <md:w-full <md:top-10px <md:absolute  ">
        {% if shop.customer_accounts_enabled %}
            <li class="{{ umbrella_id }}_account-login customer-account-links {{ umbrella_child_css }}">
                {% if customer %}
                    {{ 'Log Out' | customer_logout_link }}
                {% else %}
                    {{ 'Log In' | customer_login_link }}
                {% endif %}
            </li>
        {% endif %}


        {% if customer %}
            <li class="{{ umbrella_id }}_account {{ umbrella_child_css }}">
                <a class="text-accent-primary" href="/account">My Account</a>
            </li>
        {% endif %}

        <li class="cart-link ">
            <a href="/cart" class="">
                <g-icon class="text-2xl text-accent-primary" :inline='true' path="bx:cart-alt"></g-icon>
            </a>
        </li>

        {% if cart.item_count != 0 %}
            <li class="cart-link ">
                <a href="/cart" class="num-items-in-cart {{ umbrella_child_css }}">
                <span>
              ({{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }})
              </span>
                </a>
            </li>
        {% endif %}
    </ul>
</div><!-- /#umbrella -->
