{% assign umbrella_id = 'umbrella'  %}
<div class="{{ umbrella_id }}">
    <ul>
        {% render 's-ui-social-icons', social_classes: "radius-circle p-1 mr-2 text-2xl text-white bg-primary-lt hover:bg-accent-secondary"  %}

        {% if shop.customer_accounts_enabled %}
            <li class="{{ umbrella_id }}_account-login customer-account-links tracking-wide italic text-accent-primary">
                {% if customer %}
                    <p>{{ 'Log Out' | customer_logout_link }}</p>
                {% else %}
                    <p>{{ 'Log In' | customer_login_link }}</p>
                {% endif %}
            </li>
        {% endif %}

        {% if customer %}
            <li class="{{ umbrella_id }}_account">
                <a class="tracking-wide italic text-accent-primary" href="/account">My Account</a>
            </li>
        {% endif %}

        <li class="cart-link">
            <a href="/cart" class="num-items-in-cart tracking-wide italic text-accent-primary">

                <g-icon class="text-2xl" :inline='false' path="bx:cart-alt"/>

                <span class="icon">
               {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}
              </span>
            </a>
        </li>
    </ul>
</div><!-- /#umbrella -->
