<div id="product-order" class="default">
    <ul id="thumbs" class="grid md:gap-2 gap-1
     {% if product.type == 'pattern' and product.images.size >= 7 %}6{% else %}{{ product.images.size  | minus: 1 }}{% endif %}" {% if product.images.size == 1 %}class="visuallyhidden"{% endif %}>
        {% for image in product.images %}
            {% unless forloop.first and settings.main_image_display == 'Lightbox' %}

                {% unless forloop.last %}
                    <li>
                        <a{% if settings.main_image_display == 'Lightbox' %} rel="fancybox"{% endif %} class="gallery" href="{{ image | product_img_url: 'original' }}" title="{{ image.alt | escape }}">
                            <img class="radius-circle object-cover w-full " style="aspect-ratio: 1/1;" src="{{ image | product_img_url: 'large' }}" alt="{{ image.alt | escape }}"/>
                        </a>
                    </li>
                {% endunless %}
            {% endunless %}
        {% endfor %}
    </ul>
</div>
