<!-- VUE : footerApp Footer  -->
<footer id="footerApp" class="  lg:text-left">

    {% render 's-ui-divider' %}

    <div class="leading-4 text-left py-6 px-8 md:px-0 text-gray-800">
        <div class="flex flex-col md:flex-row md:justify-between gap-4">

            <!-- Footer : Column 3 -->
            <div class="md:w-1/2  md:mb-0">
                <h5 class="text-2xl text-left mb-2">
                    Subscribe to our newsletter</h5>
                <!-- BEGIN: Constant Con    tact Basic Opt-in Email List Form -->

                <form class="flex mb-4 " name="ccoptin" action="https://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post">
                    <input type="hidden" name="llr" value="a4m5dxdab">
                    <input type="hidden" name="m" value="1103508747232">
                    <input type="hidden" name="p" value="oi">
                    <label class="hidden" for="mce-EMAIL">Subscribe to our newsletter</label>
                    <input type="text"
                            class="px-4 rounded-tl-lg rounded-bl-lg email w-full border-solid border-y border-l  border-accent-secondary placeholder:italic placeholder:text-primary-lt "
                            name="ea" size="20" value="" id="mce-EMAIL" placeholder="email address">
                    <button type="submit" name="go" value="Go"
                            class="rounded-tr-lg rounded-br-lg py-1 px-2  text-2xl submit text-white bg-accent-secondary">
                        <g-icon
                                class="mt-8px rotate--45" style="transform: rotate(-45deg);" :inline='true' path="{{ 'divider.svg' | asset_url }}"/>

                    </button>
                </form>
                <!-- END: Constant Contact Basic Opt-in Email List Form -->

                <p class="hidden mb-4  leading-5">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                    aliquam voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>

            <!-- Footer : Column 1 -->
            <ul class="">
                {% for link in linklists.footer.links %}
                    <li class="mb-1 text-lg border-solid border-white hover:border-accent-secondary border-b-1">
                        <a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                {% endfor %}
            </ul>

            <!-- Footer : Column 2 -->
            <ul class="mb-4">
                {% for link in linklists.footer-right.links %}
                    <li class="mb-1 text-lg hover:border-solid border-accent-secondary hover:border-b-1">
                        <a href="{{ link.url }}">{{ link.title | escape }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% render 's-copyright' %}
</footer>
