<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{% render 's-section-padding', _section: section %}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
    <div class="rich-text content-container {{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
        <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
            <div class="rich-text__blocks {{ section.settings.content_alignment }}">
                {%- for block in section.blocks -%}
                    {%- case block.type -%}
                        {%- when 'heading' -%}
                            <h2 class="rich-text__heading rte {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                                {{ block.settings.heading | replace: 'p>', 'span>' }}
                            </h2>
                        {%- when 'caption' -%}
                            <p class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}" {{ block.shopify_attributes }}>
                                {{ block.settings.caption | escape }}
                            </p>
                        {%- when 'text' -%}
                            <div class="rich-text__text rte" {{ block.shopify_attributes }}>
                                {{ block.settings.text }}
                            </div>
                        {%- when 'button' -%}
                            <div class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                                {%- if block.settings.button_label != blank -%}
                                    <a{% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label | escape }}</a>
                                {%- endif -%}
                                {%- if block.settings.button_label_2 != blank -%}
                                    <a{% if block.settings.button_link_2 == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">{{ block.settings.button_label_2 | escape }}</a>
                                {%- endif -%}
                            </div>
                        {%- when 'icon' -%}
                            <div class="vue rich-text__icon">
                                {% render 's-block-iconify', _settings: block.settings %}
                            </div>
                    {%- endcase -%}
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>
{% schema 'schema.ts' %}
