<div id="col-main">
  {% paginate blog.articles by 6 %}

  {% for article in blog.articles %}

  <article class="post clearfix">
    <h2 class="title"><a href="{{ article.url }}"><img src="{{ 'blog-leaf.png' | asset_url }}" alt="leaft" />{{ article.title | escape }}</a></h2>
	<p class="author">Posted by <span class="author-name">{{ article.author | escape }}</span> on {{ article.published_at | date: "%B %d, %Y" }}</p>
    <div class="post-content">
	{{ article.excerpt_or_content }}
	</div>


    <footer class="article-extras clearfix">
      
      <p class="comments-link">
        {% if article.comments_enabled? %}
          {% if article.comments_count > 0 %}
           <a href="{{article.url}}#comments" title="Add your thoughts"><span class="comment-number">{{ article.comments_count }}</span>&nbsp;{{ article.comments_count | pluralize: 'Comment', 'Comments' }}</a>
          {% else %}
            <a href="{{article.url}}#comments" title="Add your thoughts">Add a comment</a>
          {% endif %}
        {% else %}
          <span class="disabled">Comments disabled</span>
        {% endif %}
      </p>
    </footer><!-- /.article-extras -->
  </article>

  {% endfor %}

  {% if paginate.pages > 1 %}
	<div class="pagination">

	    {% if paginate.previous %}
	      <span class="prev">{{ paginate.previous.title | link_to: paginate.previous.url }}</span>
	    {% else %}
	    {% endif %}  

	    {% if paginate.next %}
	      <span class="next">{{ paginate.next.title | link_to: paginate.next.url }}</span>
	    {% else %}
	    {% endif %}    
	</div>
	{% endif %}

  {% endpaginate %}

</div> <!-- /#col-main -->