<div id="col-main" class="full {{ collection.handle }}">

     <section class="diagonal-divider clearfix">
    <header class="section-details tracking-wider text-primary italic text-xl p-2 pl-4">
     <span class="sort-by">sort by</span> <a href="/collections/patterns" class="toggle">Style</a>&nbsp;&nbsp;<span class="small-divide">|</span>&nbsp;&nbsp;<a href="/collections/patterns-by-yarn" class="toggle thispage">Yarn</a>
    </header>

         <ul class="{{ gridName }} <lg:px-8 grid gap-8 <sm:grid-cols-1  <lg:grid-cols-2  grid-cols-3">
             {% for collection in collections %}
                 {% if collection.handle contains "byyarn-" %}
                     {% unless collection.handle contains "patterns-by-yarn" %}

                         <div class="{{ gridName }}__card group box-border hover:border-solid border-1 p-4"
                                 border="accent-primary">
                             <a class="{{ gridName }}__image_wrapper block relative"  href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">
                                 <div class="{{ gridName }}__image">

                                     {% if collection.image %}
                                         <img class="object-contain h-auto w-full " src="{{ collection.image.src | collection_img_url: '500x' }}" class="product-photo" alt="{{ collection.title | escape }}" />
                                     {% else %}
                                         <img class="object-contain h-auto w-full " src="{{ collection.products.first.featured_image | product_img_url: '500x' }}" class="product-photo" alt="{{ collection.title | escape }}" />
                                     {% endif %}
                                 </div>
                             </a>
                             {% comment %}{% include 'product-grid-item' %}{% endcomment %}

                             <a class="{{ gridName }}__meta pt-1 hover-group:bg-green-500 block relative" href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">
                                 <h2 class="text-2xl pt-2">   {{ collection.title | remove: '*' }}</h2>
                             </a>
                         </div>
                     {% endunless %}
                 {% endif %}
             {% endfor %}
         </ul>
  </section>

</div> <!-- /#col-main -->
