<div id="col-main" class="full {{ collection.handle }}">

     <section class="diagonal-divider clearfix">
    <header class="section-details clearfix">
     <span class="sort-by">sort by</span> <a href="/collections/patterns" class="toggle">Style</a>&nbsp;&nbsp;<span class="small-divide">|</span>&nbsp;&nbsp;<a href="/collections/patterns-by-yarn" class="toggle thispage">Yarn</a>
    </header>

    <ul id="collection-grid" class="product-grid">
    {% for collection in collections %}
    {% if collection.handle contains "byyarn-" %}
      <li class="{% cycle '', '', ' last-in-row' %}">
        <div class="product-grid-item">
          <div class="collection-image">
            <a href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">
              {% if collection.image %}
              <img src="{{ collection.image.src | collection_img_url: 'large' }}" class="product-photo" alt="{{ collection.title | escape }}" />
              {% else %}
              <img src="{{ collection.products.first.featured_image | product_img_url: 'large' }}" class="product-photo" alt="{{ collection.title | escape }}" />
              {% endif %}
            </a>
          </div>
          <div class="product-information">
            <a href="{{ collection.url }}" title="Browse our {{ collection.title | escape }} collection">
              {{ collection.title | remove: '*' }}
            </a>
          </div>
        </div>
      </li>
    {% endif %}
    {% endfor %}
    </ul>

  </section>
  
</div> <!-- /#col-main -->