<div id="mainApp" class="text-primary-bk content-wrapper m-auto">

    <h1 id="page-title">
        <g-icon class="text-xl reflect-x text-accent-secondary mr-2" :inline='true' path="{{ 'leaves-a.svg' | asset_url }}"></g-icon>
        <span class="text-3xl">Search</span></h1>

    <form class="text-xl w-3/4 mb-4 mx-auto search-form page text-primary" name="search" action="/search">
        <input type="text" id="q" name="q" class="w-full border-b border-primary-lt py-1 px-4 mr-8  placeholder:italic placeholder:text-primary-lt " placeholder="Search..." title="Search"/>
        <input type="submit" class="hidden" alt="Search" class="submit" value="Search"/>
        <button alt="Search" id="search-submit" type="submit" class="flex rounded-md border border-accent-primary py-1 px-4">Search
            <g-icon class="ml-4 w-20px" :inline='false' path="fe:search"/>
        </button>
    </form>

    {% if search.performed %}

        {% comment %}
           Loop through products fe:search
         {% endcomment %}

        {% assign gridName = 'product-grid' %}

        <ul class="{{ gridName }} <lg:px-8 grid gap-8 <sm:grid-cols-1  <lg:grid-cols-2  grid-cols-3">

            {% for item in search.results %}
                {% if item.object_type == 'product' %}
                    {% assign product = item %}

                    <div class="{{ gridName }}__card group box-border hover:border-solid border-1 p-4"
                            border="accent-primary">
                        <a class="{{ gridName }}__image_wrapper relative" href="{{ product.url | within: collection }}" title="{{ product.featured_image.alt | escape }}">
                            <div class="{{ gridName }}__image">
                                <img class="object-contain h-auto w-full " src="{{ product.featured_image | product_img_url: '500x' }}" alt="{{ product.featured_image.alt | escape }}"/>
                            </div>
                            <div class="{{ gridName }}__price bg-white bg-opacity-90 p-1 absolute bottom-0 right-0 ">
                                {% if product.price_varies %}
                                    <small>from</small> {{ product.price_min | money }}
                                {% else %}
                                    {{ product.price_min | money | remove: '.00' }}
                                {% endif %}
                            </div>

                            <div class="{{ gridName }}__badge_wrapper absolute w-1/3 bottom-40px right-0">
                                <div class="{{ gridName }}__badge w-full">
                                    {% for tag in product.tags %}
                                        {% if tag contains 'GLOBAL ORGANIC' %}
                                            <img src="{{ 'global_organic2.png' | asset_url }}" alt="todo: jocelyn fill me in"/>
                                        {% endif %}
                                        {% if tag contains 'GOTS logo' %}
                                            <img src="{{ 'GOTS-logo.png' | asset_url }}" alt="todo: jocelyn fill me in"/>
                                        {% endif %}
                                        {% if tag contains 'GOTSCERES-029' %}
                                            <img src="{{ 'RGW-GOTS-logo-vert.png' | asset_url }}" alt="todo: jocelyn fill me in"/>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                        {% comment %}{% include 'product-grid-item' %}{% endcomment %}

                        <a class="{{ gridName }}__meta pt-1 hover-group:bg-green-500 relative" href="{{ product.url | within: collection }}">
                            <h2 class="text-2xl">{{ product.title }}</h2>
                            <h5 class="font-sans text-sm text-accent-primary-dk sm-caps">{{ product.type }}</h5>
                            <div class="absolute justify-end bottom-0 flex w-full">
                                <g-icon class="text-accent-primary w-auto" path="{{ 'vintage-arrow-2.svg' | asset_url }}"/>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>

    {% endif %}

    <div class="h-20px"></div>
    {% render 's-ui-divider' %}

    {% if search.performed %}
        {% paginate search.results by 10 %}
            <div class="results mt-2 w-3/4 md:w-2/3 m-auto">
                {% for item in search.results %}
                    {% if item.object_type != "product" %}
                        <div class="py-3 clearfix">
                                {% if item.featured_image %}
                            <div class="thumbnail">
                                    <a href="{{ item.url }}">{{ item.featured_image | product_img_url: 'thumb' | img_tag }}</a>
                            </div>
                                {% endif %}
                            <div class="prose">
                                <h3 class="text-2xl mb-1 text-primary-dk tracking-wide italic  hover:text-accent-secondary">{{ item.title | link_to: item.url }}</h3>
                                <p class="text-primary">{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</p>
                            </div>

                        </div> <!-- end .item -->
                        <hr>
                    {% endif %}
                {% else %}
                    <p class="empty">Your search for "{{ search.terms | escape }}" did not return any results.</p>
                {% endfor %}
            </div> <!-- end .results -->

            {% include 'pagination' %}
        {% endpaginate %}
    {% endif %}

</div><!-- /#col-main -->
