<nav  role="navigation">
	<ul class="Owool_Main-Menu" id="AccessibleNav">
		{% for link in linklists[section.settings.main_menu_link_list].links %}
			{% if link.links != blank %}
				{% assign parent_index = forloop.index %}
				<li
						class="site-nav__item site-nav--has-dropdown {% if link.active %}site-nav--active{% endif %}"
						aria-haspopup="true"
						data-meganav-type="parent">
					<a
							href="{{ link.url }}"
							class="site-nav__link"
							data-meganav-type="parent"
							aria-controls="MenuParent-{{ parent_index }}"
							aria-expanded="false"
							{% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless %}>
						{{ link.title | escape }}
						<span class="icon icon-arrow-down" aria-hidden="true"></span>
					</a>
					<ul
							id="MenuParent-{{ parent_index }}"
							class="site-nav__dropdown {% if link.levels == 2 %}site-nav--has-grandchildren{% endif %}"
							data-meganav-dropdown>
						{% for childlink in link.links %}
							{% if childlink.links != blank %}
								{% assign child_index = forloop.index %}
								<li
										class="site-nav__item site-nav--has-dropdown site-nav--has-dropdown-grandchild {% if childlink.active %}site-nav--active{% endif %}"
										aria-haspopup="true">

									<div class="icon__left">
										  <g-icon path="{{ 'leaves-a.svg' | asset_url }}"/>
									</div>

									<a
											href="{{ childlink.url }}"
											class="site-nav__dropdown-link"
											aria-controls="MenuChildren-{{ parent_index }}-{{ child_index }}"
											data-meganav-type="parent"
											{% unless template.name == 'index' %}{% if childlink.active %}aria-current="page"{% endif %}{% endunless %}
											tabindex="-1">

										{{ childlink.title | escape }}

										<span class="icon icon-arrow-down" aria-hidden="true"></span>
									</a>
									<div class="site-nav__dropdown-grandchild">
										<ul
												id="MenuChildren-{{ parent_index }}-{{ child_index }}"
												data-meganav-dropdown>
											{% for grandchildlink in childlink.links %}
												<li{% if grandchildlink.active %} class="site-nav--active"{% endif %}>
													<a
															href="{{ grandchildlink.url }}"
															class="site-nav__dropdown-link"
															data-meganav-type="child"
															{% unless template.name == 'index' %}{% if grandchildlink.active %}aria-current="page"{% endif %}{% endunless %}
															tabindex="-1">
														{{ grandchildlink.title | escape }}
													</a>
												</li>
											{% endfor %}
										</ul>
									</div>
								</li>
							{% else %}
								<li{% if childlink.active %} class="site-nav--active"{% endif %}>
									<span class="site-nav__dropdown-link__icon">
										<g-icon path="{{ 'leaves-a.svg' | asset_url }}"/>
									</span>
									<span>
										<a href="{{ childlink.url }}"
												class="site-nav__dropdown-link"
												data-meganav-type="child"
												{% if childlink.active %}aria-current="page"{% endif %}
												tabindex="-1">
											{{ childlink.title | escape }}
										</a>
									</span>

								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</li>
			{% else %}
				<li class="site-nav__item{% if link.active %} site-nav--active{% endif %}">
					<div class="Owool_Main-Menu__item --reflect">
						<div class="Owool_Main-Menu__item__left">
							<g-icon path="{{ 'leaves-a.svg' | asset_url }}"/>
						</div>
						<div class="Owool_Main-Menu__item__center">
							<div class="Owool_Main-Menu__item__inner">
								<a
										href="{{ link.url }}"
										class="site-nav__link"
										data-meganav-type="child"
										{% unless template.name == 'index' %}{% if link.active %}aria-current="page"{% endif %}{% endunless %}>
									{{ link.title | escape }}
								</a>
							</div>
						</div>

					</div>

				</li>
			{% endif %}
		{% endfor %}

		{% comment %}
			Remove comment tags below to add a search box to your header, visible on screens where your
			header menu
			is displayed inline.

			<li class="site-nav__item site-nav--search__bar medium-down--hide">
			search	{% include 'search-bar', search_btn_style: 'c-button--accent-primary', search_bar_location: 'search-bar--mobile-header' %}
			</li>
		{% endcomment %}


		{% if section.settings.search == 'page' or section.settings.search == 'modal' %}
			{% assign search_modal = true %}
			{% if section.settings.search == 'page' %}
				{% assign search_modal = false %}
			{% endif %}
			<li class="site-nav__item">

			</li>
		{% endif %}

	</ul>
</nav>
