{% assign settingsDataDefault = section.settings %}

<p>{{ _settings.testimonial_data | json }}</p>
<product-testimonial
        :data='{{ _settings.testimonial_data  | json | default: settingsDataDefault.testimonial_data }}'
        class="{{ _settings.css_classes | default: settingsDataDefault.css_classes }}"
        style="{% if _settings.color_toggle == true %}color: {{ _settings.icon_color | default: settingsDataDefault.iconify_color }};{% endif %}
        {{ _settings.custom_styles | default: settingsDataDefault.custom_styles }}">
</product-testimonial>
{% assign _settings = null %}
